/* Обнуление стилей Браузеров */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body {
    width: 1320px;
    height: 2947px;
    margin: 0 auto;
    padding: 0 20px;
}

._ibg {
    position: relative;
}

._advantage {
    font-family: Montserrat;
    margin-right: 32px;
    width: 268px;
    height: 155px;
    padding-left: 16px;
    border: 1px solid #E0E0E0;
}

._advantage:last-child {
    margin: 0;
}

._favorites-plant {
    margin-right: 20px;
}

._favorites-plant:last-child {
    margin: 0;
}

.nav-bar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;    
    z-index: 2;
    height: 36px;
    margin: 40px 0 0 0;
}

.nav-logo {
    display: inline-block;
    margin: 0 858px 0 56px;
}

.nav-panel-novigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-panel-icons {    
    display: flex;    
    justify-content: center;
}

.search {
    margin: 0 40px 0 0;
}

.basket {
}

.nav-panel-buttom {
    display: flex;
    justify-content: space-between;
    font-family: Nunito;
    font-weight: 700;
    line-height: calc(20/14*100%);
    text-align: center;
}

.nav-panel-buttom-1 {
    background-color: #ffffff;
    color: #156963;
    width: 111px;
    height: 36px;
}

.nav-panel-buttom-2 {
    background-color: #156963;
    color: #ffffff;
    width: 111px;
    height: 36px;
}

.fonts {
    display: flex;
}

.image-fonts {   
}
.wrapper-fonts_1 {
}

.title-fonts {
    margin: 186px 0 110px 77px;
    width: 519px;
    height: 286px;
}

.header-title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 68px;
    color: #156963;
    line-height: calc(83/68*100%);
    width: 523px;
    height: 166px;
    margin-bottom: 24px;
}

.text-title {
    font-family: Montserrat;
    font-weight: 400;
    color: #2C1500;
    font-size: 18px;
    line-height: calc(32/18*100%);
    width: 493px;
    height: 96px;
    margin-bottom: 110px;
}

.buttom-arrow {
    display: flex;
    width: 586px;
    height: 160px;
}

.previous-arrow {
    margin-right: 8px;
}

.previous-buttom {
    width: 320px;
    height: 160px;
    background-color: #ffffff;
}

.previous-text {    
    font-size: 24px;
    line-height: calc(30/24*100%);
    color: #333333;
    padding-right: 121px;
}

.name-plant-kaktus {
    font-size: 32px;
    color: #156963;
    padding-right: 53px;
}

.next-text {
    font-size: 24px;
    line-height: calc(30/24*100%);
    color: #F2F2F2;
    text-align: left;
    padding-left: 49px;
}

.name-plant-Rahasia {  
    font-size: 32px;
    line-height: calc(39/32*100%);
    color: #FFFFFF;
    text-align: left;  
    padding-left: 49px;
}

.next-arrow {
    margin-left: 8px;
}

.next-buttom {
    width: 320px;
    height: 160px;
    background-color: #156963;
    color: #ffffff;
}

.our-advantage {
    display: flex;
    margin: 142px 0 80px 56px;
    width: 1168px;
    height: 155px;
}

.advantage-delivery {   
    display: flex;
    align-items: center;
}

p {
    font-size: 16px;
    font-weight: 700;
    line-height: calc(24/16*100%);
    color: #156963;
}

.delivery {    
}

.advantage-icon {
    margin: 16px 16px 16px 0;
}

.advantage-text {
    font-size: 10px;
    line-height: calc(16/10*100%);
    color: #2C1500;
    margin-bottom: 21px;
    padding-right: 16px;
}

.advantage-Customer-Service { 
    display: flex;
    align-items: center;
}

.Customer-Service {
}

.advantage-product-quality { 
    display: flex;
    align-items: center;   
}

.product-quality {
}

.advantage-Affordable-Price {
    display: flex;
    align-items: center;
}

.Affordable-Price-text {
}

.favorites-plants {
    font-family: Montserrat;
    font-weight: 500;
    display: flex;
    width: 1168px;
    height: 46.5px;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 24px 56px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 15px;
}

.featured-Plants {    
    font-size: 20px;
    line-height: calc(24.5/20*100%);      
}

.sorting {
    font-size: 12px;
    line-height: calc(14.7/12*100%);
    border: 1px solid #E0E0E0;
    width: 130px;
    height: 31px;
}

.favorites-products { 
    font-family: Montserrat; 
    display: flex; 
    justify-content: center; 
    margin-bottom: 80px;
}

.favorites-plant-kaktus {
}

.photo {
    width: 217px;
    height: 217px;
    margin-bottom: 16px;
}

.text-about-plant {
    font-size: 16px;
    line-height: calc(19.5/16*100%);
    font-weight: 400;
    text-align: center;
    margin-bottom: 8px;
}

.price-plant {
    margin-bottom: 8px;
    text-align: center;
    font-size: 16px;
    line-height: calc(19.5/16*100%);
    font-weight: 600;
}

.favorites-plant-Landak {
}

.favorites-plant-Kecubung {
}

.favorites-plant-Kecubung-Plants {
}

.favorites-plant-Aloe {
}

.fonts-relaxe {
    display: flex;
    font-family: Montserrat;
    margin: 0 auto 80px;
    width: 1168px;
    height: 610px;
}

.title-relaxe {
    color: #2C1500;
}

.header-relaxe-title {
    font-size: 40px;
    line-height: calc(56/40*100%);
    width: 522px;
    height: 122px;
    font-weight: 700;
    margin-bottom: 16px;
}

.text-relaxe {
    font-size: 16px;
    line-height: calc(28/16*100%);
    font-weight: 400;    
    width: 522px;
    height: 140px;
}

.photo-fonts-relaxe {
    margin-top: 74px;
}

.image-fonts-relaxe {
    margin-left: 84px;
}

.image-fonts-relaxe_2 {
}

.visit-shop {
    background-color: #F3F4F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1168px;
    height: 360px;
    margin: 0 auto 140px;
}

.visit-shop-title {
    width: 585px;
    height: 184px;
    margin-left: 97px;
    font-weight: 700;
}

.header-title-visit-shop {    
    font-family: Montserrat;
    font-size: 40px;
    line-height: calc(56/40*100%);    
    margin-bottom: 32px;    
}

.button-visit-shop {
    font-family: Nunito;
    background-color: #156963;
    color: #FFFFFF;
    line-height: calc(20/14*100%);
    width: 152px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.photo-visit {
}

/* ._footer {    
    margin:0 167px;
} */

.footer {
    font-family: Work Sans;
    display: flex;
    height: 268px;
    justify-content: center;
    align-items: top;
    padding: 60px 0 0 0;
}

.adress-shop {
    width: 282px;
}
.logo-shop {
    margin-bottom: 24px;
}
.title-logo-footer {    
    font-size: 16px;
    line-height: calc(19/16*100%);
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
}
.text-logo-footer {
    font-size: 13px;
    font-weight: 400;
    line-height: calc(20/13*100%);
}
.perusahaan-footer {
    margin-left: 80px;
}
.perusahaan-footer-title {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: calc(16/16*100%);
    color: #000000;
    font-weight: 500;
}
.perusahaan-footer-text {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: calc(16/14*100%);
    font-weight: 400;
}
.produk-footer {
    font-size: 16px;
    line-height: calc(16/16*100%);
    color: #000000;
    font-weight: 500;
    margin-left: 80px;
}
.produk-footer-title {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: calc(16/16*100%);
    color: #000000;
    font-weight: 500;    
}
.produk-footer-text {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: calc(16/14*100%);
    font-weight: 400;
}
.subscription-footer {    
    margin-left: 80px;
    width: 234px;
}
.subscription-foote-title {
    margin-bottom: 22px;  
    font-size: 16px;
    line-height: calc(16/16*100%);
    color: #000000;
    font-weight: 500;  
}
.subscription-footer-email {
    width: 234px;
    height: 32px;
    margin-bottom: 14px;
    padding: 15px;
    border: 1px solid #F2F2F2;
}
.subscription-footer-button {
    background-color: #156963;
    color: #ffffff;
    width: 51px;
    height: 22px;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    line-height: calc(14/8*100%);
}

